.head{
	height: 100px;
	width:  1000px;
	border-color: red;
	border: 1px solid;
    margin: 0% 0% 0% 0%;
}

.main{
	height: 400px;
	width:  1000px;
	border-color: red;
	border: 1px solid;
    margin: 1.5% 0% 0% 0%;
}
.main1{
	height: 300px;
	width:  1000px;
	border-color: red;
	border: 1px solid;
    margin: 1.5% 0% 0% 0%;
    
 
}

.futer{
	height: 100px;
	width:  1000px;
	border-color: red;
	border: 1px solid;
    margin: 1.5% 0% 0% 0%;
}

.contact{
	height: 100px;
	width:  1000px;
	border-color: red;
	border: 1px solid;
    text-align: end;
}

.clear{
	float: clear;
}

.logo{
	height: 70px;
	width:  200px;
	border-color: red;
	border: 1px solid;
    margin: 1.5% 1% 0% 1%;
    float:  left;
}

.wordlogon{
	float:  left;
	height: 70px;
	width:  700px;
	border-color: red;
	border: 1px solid;
    margin: 1.5% 1% 0% 0%;
}

.foto{
	float:  left;
	height: 160px;
	width:  120px;
	border-color: red;
    margin: 20% 1% 3% 3%;;
	border: 1px solid;
    text-align: center;
}

.name{
	height: 70px;
	width:  300px;
	border-color: red;
	border: 1px solid;
    margin: 1.5% 1% 0% 35%;
}

.surname{
	height: 70px;
	width:  300px;
	border-color: red;
	border: 1px solid;
    margin: 1.5% 1% 0% 35%;
}

.othername{
	height: 70px;
	width:  250px;
	border-color: red;
	border: 1px solid;
    margin: 1.5% 1% 0% 37.5%;
    text-align: center;
}